<h1>War3 Model Editor</h1>
<p>Submitted by Magos</p>
<p>Uploaded on 2006-12-27</p>
<p>Tags: Windows XP, 3D Art</p>
<p>Filesize: 1238.5 KB</p>
<p>Last edited on 2009-07-17</p>
<h2>War3 Model Editor</h2>
<p>Filesize: 1238.5 KB</p>
<p>Filename: War3ModelEditor.zip</p>
<h2>Description</h2>
<p>This Model Editor is not made by me, but is made by Magos.<br />
<br />
War3 Model Editor is as the name suggests a Model Viewer and a Model Editor dedicated to Warcraft 3. It supports both loading and saving of .mdl and .mdx model formats which are used in Warcraft 3. It also supports  .bmp, .tga, .png, .jpg, .jpeg, .pcx and  .blp texture formats.<br />
<br />
There is a buildt-in MPQ Browser that allows you to browse any MPQ archive, which also includes Warcraft 3 map files (.w3m and .w3x). The MPQ Browser has been optimized for speed and is very fast to load and use. The Browser is customizable so you can add/remove your own icons and filters.<br />
<br />
<div style="margin: 20px; margin-top: 5px; font-size: 11px"><div class="smallfont" style="margin-bottom: 2px"><b>Features</b> <input type="button" class="button" value="Show" style="width: 45px; font-size: 10px; margin: 0px; padding: 0px;" onclick="if (this.parentNode.nextSibling.firstChild.style.display != '') { this.parentNode.nextSibling.firstChild.style.display = ''; this.value = 'Hide'; } else { parentNode.nextSibling.firstChild.style.display = 'none'; this.value = 'Show'; }"></div><div class="alt2" style="margin: 0px; padding: 6px; border: 1px inset; border-style: solid; border-left-width: 1px; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px"><div style="display: none">Features<br />
<br />
    * Model Viewer<br />
    * Model Editor<br />
    * Geoset Importing/Exporting<br />
    * Can save/load the model formats *.mdl and *.mdx<br />
    * Can save/load the texture formats .bmp, .tga, .png, .jpg, .jpeg, .pcx and .blp<br />
    * Can import other model formats (importers stored in DLLs)<br />
    * Ability to convert between the model formats<br />
    * Ability to convert between the texture formats<br />
    * MPQ Browser (very fast loading)<br />
    * Support for custom listfiles<br />
    * Support for custom MPQ filters &amp; icons<br />
<br />
Extras<br />
<br />
    * Loading Screen Creator<br />
    * A tool to create colored text for Warcraft 3<br />
<br />
Supported Importers<br />
<br />
    * md2 (Quake 2)<br />
    * ms3d (Milkshape)</div></div></div><br />
<br />
{UPDATE}<br />
Hey people, it&#039;s Rui. I have updated the tool to v1.07 and added some keywords for searching. Enjoy!<br />
<br />
<b>Keywords:</b><br />
warcraft, 3, III, magos, editor, model, war3, wc3</p>
